<form action="/longURL" method="post">
    <div class="d-flex flex-column col-5 mx-auto my-5">
      <input type="text" class="form-control" placeholder="Input URL here" name="longURL">
      <button type="submit" class="btn btn-outline-primary mt-2 ">Shorten</button>
    </div>
</form>
